/* Transition styles */
.transition {
    position: relative;
}

.transition-enter {
    opacity: 0;
    transform: scale(0.5);
    transition: all 500ms ease-in-out;
}

.transition-enter-active {
    opacity: 1;
    transform: scale(1);
}

.transition-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 500ms ease-in-out;
}

.transition-leave-active {
    opacity: 0;
    transform: scale(0.5);
}


